
<h3> Tell us about you </h3>
<h3 class="lead"> To predict your habits, we need to know a little bit about you.<br/>
Fill out the form below or log in with Facebook.</h3>

<br/>
<div ng-controller="userForm">
<form ng-submit="submit()" name="userform">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-7" >
				<div class="col-md-3">
					<label>your name</label>
				</div>
				<div class="col-md-9">
					<input type="text" name="firstName" ng-model="formData.firstName" novalidate>
				</div>
		</div>
		<div class="col-md-3">{{ formData.firstName }}</div>
	</div><!--  end row -->


	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-7">
			<div class="col-md-3">
				<label>age</label>
			</div>
			<div class="col-md-9">
				<select ng-model="formData.ageRange"
					ng-options="ageRange.description for ageRange in ageRange" novalidate>
				</select>
									
			</div>
		</div>
		<div class="col-md-3">current {{ formData.ageRange.decade }}</div> <!-- ??? -->
	</div><!-- end row -->
	
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-7">
			<div class="col-md-3">
				<label>gender</label>
			</div>
			<div class="col-md-9">
				<input type="radio" ng-model="formData.gender" value="You are a woman" novalidate>&nbsp;Female <br />  
				<input type="radio" ng-model="formData.gender" value="You are a man" novalidate>&nbsp;Male <br/>
			</div>
		</div>
		<div class="col-md-3">Current value: {{ formData.gender }}</div> <!-- ??? -->
	</div><!-- end row -->

	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-7">
			<div class="col-md-3">
				<label>region</label>
			</div>
			<div class="col-md-9">
			<select ng-model="formData.region" ng-options="region.description for region in region" novalidate>
			</select>
			</div>
		</div>
		<div class="col-md-3">Current value: {{ formData.region.text }}</div> <!-- ??? -->
	</div><!-- end row -->

	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-7">
			<div class="col-md-3">
				<label>education</label>
			</div>
			<div class="col-md-9">
			<select ng-model="formData.education" ng-options="education.description for education in education" novalidate>
			</select>
			</div>
		</div>
		<div class="col-md-3">Current value: {{ formData.education.text }}</div> <!-- ??? -->
	</div><!-- end row -->

	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-7">
			<div class="col-md-3">
				<label>income</label>
			</div>
			<div class="col-md-9">
			<select ng-model="formData.income" ng-options="income.description for income in income" novalidate>
			</select>
			</div>
		</div>
		<div class="col-md-3">Current value: {{ formData.income.text }}</div> <!-- ??? -->
	</div><!-- end row -->


	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-7">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<input type="submit" value="analyze me" />

			</div>
		</div>
		<div class="col-md-3">RIGHT</div> <!-- ??? -->
	</div><!-- end row -->

		
	</div>
	</div>
</div>
</form> <!--end form-->
</div>