
<h3 class="fancy-header"> Tell us about you </h3>
<h3 class="lead"><p>To predict your habits, we need to know a little bit about your demographic profile.<br/>
Please select one of the two options below.</h3></p>

	<div class="row">
		<div class="col-md-4 get-started">
			<p><strong>Log in with Facebook</strong></p>
			habitually will use the demographic data you give us permission to access, and fill in any blanks with an algotrithm based on the data from your profile.</div>
		<div class="col-md-1"></div>
		<div class="col-md-4 get-started"><p><strong>Use the form</strong></p>
			Input your own demographic variables for maximum accuracy.</div>
		<div class="col-md-3"></div>
	</div><!--  end row -->

	<div ng-controller="userForm">
	<form ng-submit="userform.$valid && submit()" name="userform" method="post" novalidate>
	<div class="row formrow">
		<div class="col-md-5"><br /><div id=“fb-root”></div> 
		<fb:login-button scope="public_profile,user_location, user_activities, user_birthday, user_education_history" onlogin="checkLoginState();">
		</fb:login-button>

		<div id="status"></div>
		<br />
		<a href="#predictions"><button class='btn btn-success'>analyze me!</button></a></div>
		<div class="col-md-4"><br />
			Data is only saved for the duration of your visit to the site.<p>&nbsp;</p>
				<div class="col-md-3">
					<label>name</label>
				</div>
				<div class="col-md-9">
					<input type="text" class="form-control" size="90"name="firstName" ng-model="formData.firstName" required>
				</div>
		</div>
		<div class="col-md-3"><p>&nbsp;</p><p>&nbsp;</p><br/><br/>{{ formData.firstName }}</div>
	</div><!--  end row -->


	<div class="row formrow">
		<div class="col-md-5"></div>
		<div class="col-md-4 specialform">

			<div class="col-md-3">
				<label>age</label>
			</div>
			<div class="col-md-9">
				<select class="form-control" ng-model="formData.ageRange"
					ng-options="ageRange.description for ageRange in ageRange" required>
				</select>			
			</div>
		</div>
		<div class="col-md-2">{{ formData.ageRange.decade }}</div> <!-- ??? -->
	</div><!-- end row -->
	
	<div class="row formrow">
		<div class="col-md-1">
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4">

			<div class="col-md-3">
				<label>gender</label>
			</div>
			<div class="col-md-9">
				<label><input type="radio" ng-model="formData.gender" value="You are a woman" required>&nbsp;female</label>&nbsp;&nbsp;
				<label><input type="radio" ng-model="formData.gender" value="You are a man" required>&nbsp;male <br/></label>
			</div>

		</div>
		<div class="col-md-3">{{ formData.gender }}</div> <!-- ??? -->
	</div><!-- end row -->

	<div class="row formrow">
		<div class="col-md-1">
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="col-md-3">
				<label>region</label>
			</div>
			<div class="col-md-9">
			<select class="form-control" ng-model="formData.region" ng-options="region.description for region in region" required>
			</select>
			</div>
		</div>
		<div class="col-md-3">{{ formData.region.text }}</div> <!-- ??? -->
	</div><!-- end row -->

	<div class="row formrow">
		<div class="col-md-1">
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="col-md-3">
				<label>education</label>
			</div>
			<div class="col-md-9">
			<select class="form-control" ng-model="formData.education" ng-options="education.description for education in education" required>
			</select>
			</div>
		</div>
		<div class="col-md-3">{{ formData.education.text }}</div> <!-- ??? -->
	</div><!-- end row -->

	<div class="row formrow">
		<div class="col-md-1">
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="col-md-3">
				<label>income</label>
			</div>
			<div class="col-md-9">
			<select class="form-control" ng-model="formData.income" ng-options="income.description for income in income" required>
			</select>
			</div>
		</div>
		<div class="col-md-3">{{ formData.income.text }}</div> <!-- ??? -->
	</div><!-- end row -->


	<div class="row formrow">
		<div class="col-md-1"></div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<input id="fixbutton" type="submit" value="  analyze me!  " />
				

			</div>
		</div>
		<div class="col-md-3"></div> <!-- ??? -->
	</div><!-- end row -->

		
	</div>
	</div>
</div>
</form> <!--end form-->
</div>