<h3 class="fancy-header">How it works</h3>
<p>
Habitually is an app that predicts how you spend your time and money based on your demographic profile.
</p>
<p>
<div class="row">
	<div class="col-md-2 fancy-header-data" style="padding-top:20px;">Vision</div>
	<div class="col-md-10" style="padding-top:20px;">A fast application that processes a lot of data in a sophisticated way, with a simple, easy to use front end.</div>
</div>
<div class="row">
	<div class="col-md-2 fancy-header-data" style="padding-top:35px;">Tech stack</div>
	<div class="col-md-10" style="padding-top:35px;"><img src="./static/img/stack.png" alt="front end: AngularJS, JavaScript, Facebook API, HTML, CSS; back end: Python, Flask, scikit-learn, numpy, SQLAlchemy, SQL"></div>
</div>
<div class="row">
	<div class="col-md-2 fancy-header-data" style="padding-top:35px;">How it fits together</div>
	<div class="col-md-10" style="padding-top:20px;"><img src="./static/img/flow.jpg" alt="diagram of how technologies are used in the app"></div>
</div>
