<!doctype HTML>
<html ng-app="habitually">
<head>
	<meta charset="UTF-8">
	<title> habitually </title>

		<!--jQuery-->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

		<!--BOOTSTRAP-->
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<!--ANGULAR-->
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>

		<!--GOOGLE FONTS-->
				<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

		<!--CSS-->
			<link rel="stylesheet" href="./static/styles.css"></script>

		<!--D3-->
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

		<!-- Custom JavaScript-->
			<script src="./static/js/FB_login.js"></script> 
			<!--angular-->
			<script src="./static/js/habitually_ngmain.js"></script>

</head>

<body>
	<!--START NAVBAR-->
	<div class="container-fluid">
		
		<nav class="navbar navbar-default navbar-fixed-top" >
			<div class="navbar-header">
  				<a class="navbar-brand" href="/#/">
    				<img alt="habitually" src="">
  				</a>
			</div>
			<ul class="nav navbar-nav pull-right">
				<li><a href="#about">about<span class="sr-only">(current)</span></a></li>
				<li><a href="#howitworks">how it works<span class="sr-only">(current)</span></a></li>
				<li><a href="#getstarted">get started<span class="sr-only">(current)</span></a></li>
			</ul>
		</nav>
	</div>
	<!--END NAVBAR-->

	<div class="container">
	    <div class="row">
	        <div class="col-xs-12">

	            <div ng-view></div>

	        </div>
	    </div>
	</div>

</body>